<h2>Thay đổi mật khẩu thành công cho tài khoản @ViewBag.UserName</h2>
<br/>
@if (ViewBag.Type == 0)
{
    <a href="@Url.Action("Index")" class="btn btn-default">Trở lại</a>
}
else
{
    <a href="@Url.Action("Staff")" class="btn btn-default">Trở lại</a>
}

