<div class="modal fade inmodal" id="update-inventory-item-dialog" ng-controller="UpdateInventoryItemDialogController" tabindex='-1' ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Cập nhật giá/lô/hạn dùng cho thuốc <b>{{drug.TenThuoc}}</b></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table table-bordered table-userpicker">
                            <tbody>
                                <tr>
                                    <td><b>Mã thuốc:</b>
                                    <td>{{drug.MaThuoc}}</td>
                                </tr>
                                <tr>
                                    <td><b>Tên thuốc:</b></td>
                                    <td>{{drug.TenThuoc}}</td>
                                </tr>
                                <tr>
                                    <td><b>Đơn vị:</b></td>
                                    <td>{{drug.Donvi}}</td>
                                </tr>
                                <tr>
                                    <td><b>Giá kiểm kê:</b></td>
                                    <td><input type="text" class="form-control" awnum="app-decimal-number" ng-model="drug.Gia" enter-key-capture="updateDrugBatch()"></td>
                                </tr>
                                <tr>
                                    <td><b>Số lô:</b></td>
                                    <td><input type="text" class="form-control" ng-model="drug.SoLo" enter-key-capture="updateDrugBatch()"></td>
                                </tr>
                                <tr>
                                    <td><b>Hạn dùng:</b></td>
                                    <td><input type="datetime" class="form-control input-datetime" ng-model="drug.HanDung" date-parser="dd/MM/yyyy" enter-key-capture="updateDrugBatch()"></td>
                                </tr>
                                <tr>
                                    <td><b>Đánh giá cảm quan:</b></td>
                                    <td><b>Đạt yêu cầu</b> <i class="glyphicon-check glyphicon text-success"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="updateDrugBatch()">Cập nhật</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
