
@{
    ViewBag.Title = "Phiếu kiểm kê chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var viewModel = @Html.Raw(ViewBag.ViewModel);
</script>

<title>Phiếu kiểm kê chi tiết</title>

<link href="~/Content/baocao.css" rel="stylesheet" />

<div class="form-horizontal" ng-controller="FoodController">
    <h2 style="font-size: 27px; text-align: center;color: coral;margin-top:-16px"><b>PHIẾU KIỂM KÊ CHI TIẾT</b></h2>
    <div style="text-align: center;font-size: 15px;padding: 0px;margin-top:-10px">
        <div style="position:absolute;right:10%">
            Mã số: <strong>{{model.Id}}</strong>
        </div>
        <span id="dvNgayNhap" style="width: 10%">Ngày {{model.CreateTime | date:'dd/MM/yyyy'}}</span>
    </div>
    <div><span><label>Người tạo: </label> {{model.FullName}}</span></div>
    <div>
        <span>
            <label>Cân kho: </label>

            <i class="fa fa-check text-success" ng-if="model.IsCompareStore"></i>

            <i class="fa fa-times text-danger" ng-if="!model.IsCompareStore"></i>

        </span>
    </div>

    <table class="table table-responsive table-bordered" id="tbl">
        <thead>
            <tr>
                <th style="background-color:darkgray">#</th>
                <th style="background-color:darkgray">Mã Thuốc</th>
                <th style="background-color:darkgray">Tên Thuốc</th>
                <th style="text-align: right; background-color:darkgray">
                    SL hệ thống
                </th>
                <th style="text-align: right;background-color:darkgray">SL thực</th>
                <th style="text-align: right;background-color:darkgray">Chênh lệch</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in model.MedicineList">

                <td>
                    {{$index + 1}}
                </td>
                <td>
                    <span>{{item.MaThuoc}}</span>
                </td>
                <td>
                    <span>{{item.TenThuoc}}</span>
                </td>
                <td style="text-align:right">
                    <span class="soluonghethong">{{item.TonKho}} {{item.TenDonViTinh}}</span>
                </td>
                <td style="text-align:right">
                    <span class="soluonghethong">{{item.ThucTe}}</span>
                </td>
                <td style="text-align:right">

                    <span class="chenhlech">{{item.TonKho - item.ThucTe}}</span>
                </td>
            </tr>
        </tbody>

    </table>


    <div>
        <a class="btn btn-default" href="/Food/Index">Quay lại</a>
        <span class="btn-separator"></span>

        <div ng-if="!model.IsCompareStore">
            <a class="btn btn-default" href="/Food/Edit/{{model.Id}}">Sửa/Cân kho</a>
        </div>
        <a class="btn btn-default btn-danger" href="/Food/Delete/{{model.Id}}">Xóa phiếu</a>


    </div>


</div>


@section Scripts{
    <script language="javascript">
        $(document).ready(function() {
            $('.btn-print').on('click', function () {

                window.print();
            });
        });
    </script>
}
