/* Prevent angular js from showing {{variable}} upon page load*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
    text-align: left;
    padding-top: 0px;
}

.table > tbody > tr > td,
.table > tbody > tr > td > .tr-ng-cell {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.table thead th {
    background-color: darkgray;
}

.row-item-warning {
    background-color: #F47DB0 !important;    
}
    
.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#noticeViewContainer
{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 100000;
}

div.control-label {
    text-align: left !important;
}

.revenue-value {
    color: red;
    font: bold;
    font-weight: bold;
}

.number-value {
    text-align: right;
}

.report-title {
    font-size: 30px; 
    text-align: center !important;
    color: green;
    padding: 0px;
    font: bold;
}

.inner {
    display: table;
    margin: 0 auto; 
}

.report-box {
    border: 1px solid lightgray;
    padding: 20px;
    overflow-y: auto;
}

.ajax-loader {
    position: fixed;
    left: 50%;
    top: 15%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

/* -------------Start - Datetime picker for lable or div-------------------*/
.daterange-picker {
  position: relative;
}

.daterange-picker input {
   /*invisible input as jquery ui requires an actual input*/
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;

  pointer-events: none;
}

.clickable-text {
  display: inline-block;
  /*border-bottom: 2px dotted #ccc;*/
  user-select: none;

  cursor: pointer;
  padding: 0 2px;

  /*color: #000;*/

  &:hover {
    color:blue;
    background: #f5f5f5;
    border-bottom-color: blue;
  }
}
/* -------------End - Datetime picker for lable or div-------------------*/


/* -------------Start - Loading Spinner-------------------*/
/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-double-bounce">
 *      <div class="sk-double-bounce1"></div>
 *      <div class="sk-double-bounce2"></div>
 *    </div>
 *
 */
.sk-spinner-double-bounce.sk-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}
.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1ab394;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-spinner-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* -------------End - Loading Spinner-------------------*/

#block-container
{
    text-align:left;
    height: 100%;
}
#bloc1, #bloc2
{
    display:inline;
}

.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    /*right: 6px;*/
    left: 99px;
    top: 30px;
}

.ui-select-choices {
    width: auto !important;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
    background: #fff;
    position: relative;
    z-index: 1;
}
.alert-info.positioned {
    margin-top: 1em;
    position: relative;
    z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}
.ui-select-multiple.ui-select-bootstrap {
    height: auto;
}

/* -------------Start - Status Bar-------------------*/
.status-bar {
    position: fixed;
    left: 50px;
    top: 50px;
    background-color: #e3ff4f;
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 150px;
    margin-right: 22px;
    margin-bottom: 25px;
    padding: 10px;
}

.status-bar:hover
 {
     cursor: ns-resize;
 }
/* -------------End - Status Bar-------------------*/