.table.dataTable tbody th, table.dataTable tbody td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 5px 3px;
}

.pNumber {
    float: right;
    padding: 7px;
}
h2 {
    margin-top: -16px;  
}
.dataTables_scrollBody {
    min-height: 40px
}
.dataTables_scrollBody {
    max-height: 250px !important;
    height: auto !important;
}