<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="MachineSpecificConfigs">
      <!-- FULL SETTING SAMPLE -->
      <section name="SAPLE-MACHINE-NAME" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" requirePermission="false"/>
      <section name="DEV-VIETNV" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
      <section name="L_TUNGNT" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
      <section name="DaoTu" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
      <section name="TRUNG" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
      <!-- Production Server -->
      <section name="PRODUCTION-MACHINE-NAME" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
      <section name="WIN-GN97PHJ5U68" type=" App.Configuration.MachineConfigSectionType,  App.Configuration" />
    </sectionGroup>
  </configSections>
  <MachineSpecificConfigs>
    <SAPLE-MACHINE-NAME>
      <MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB_DEV;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
    </SAPLE-MACHINE-NAME>
    <DEV-VIETNV>
      <MedDbConnection value="Data Source=DEV-VIETNV;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=DEV-VIETNV;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=DEV-VIETNV;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=DEV-VIETNV;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=DEV-VIETNV;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
      <WebSocketUrl value="ws://115.146.123.69:8082"></WebSocketUrl>
      <RedisCacheHost value ="127.0.0.1" />
      <localization defaultLanguageCode="en"></localization>
      <ProductionHost value ="http://localhost:2424" />
      <ProductionDevHost value ="http://localhost:2424" />
      <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
    </DEV-VIETNV>
    <TRUNG>
        <MedDbConnection value="Data Source=TRUNG\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB_EMP;MultipleActiveResultSets=True;" />
        <MedDbLogConnection value="Data Source=TRUNG\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
        <MedReportDbConnection value="Data Source=TRUNG\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
        <MedDevDbConnection value="Data Source=TRUNG\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB_EMP;MultipleActiveResultSets=True;" />
        <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
        <WebSocketUrl value="ws://222.252.17.81:8082"></WebSocketUrl>
        <RedisCacheHost value ="127.0.0.1" />
        <localization defaultLanguageCode="en"></localization>
        <ProductionHost value ="http://localhost:2424" />
        <ProductionDevHost value ="http://localhost:2424" />
        <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
    </TRUNG>
    <L_TUNGNT>
      <MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <WebSocketUrl value="ws://115.146.123.69:8082"></WebSocketUrl>
      <RedisCacheHost value ="127.0.0.1" />
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
      <localization defaultLanguageCode="en"></localization>
      <ProductionHost value ="http://localhost:2424" />
      <ProductionDevHost value ="http://localhost:2424" />
      <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
    </L_TUNGNT>
    <DaoTu>
      <MedDbConnection value="Data Source=.;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=.;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=.;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=.;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=.;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <WebSocketUrl value="ws://115.146.123.69:8082"></WebSocketUrl>
      <RedisCacheHost value ="127.0.0.1" />
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
      <localization defaultLanguageCode="en"></localization>
      <ProductionHost value ="http://localhost:2424" />
      <ProductionDevHost value ="http://localhost:2424" />
      <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
    </DaoTu>
    <PRODUCTION-MACHINE-NAME>
      <MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB_DEV;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <WebSocketUrl value="wss://socket.wnt.com"></WebSocketUrl>
      <RedisCacheHost value ="127.0.0.1" />
      <ProductionHost value ="http://localhost:2424" />
      <ProductionDevHost value ="http://localhost:2424" />
      <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
    </PRODUCTION-MACHINE-NAME>
    <WIN-GN97PHJ5U68>
      <MedDbConnection value="Data Source=WIN-GN97PHJ5U68;Integrated Security=True;Initial Catalog=WebNTDB;MultipleActiveResultSets=True;" />
      <MedDbLogConnection value="Data Source=WIN-GN97PHJ5U68;Integrated Security=True;Initial Catalog=MedDbLog;MultipleActiveResultSets=True;" />
      <MedReportDbConnection value="Data Source=WIN-GN97PHJ5U68;Integrated Security=True;Initial Catalog=MedReport;MultipleActiveResultSets=True;" />
      <MedDevDbConnection value="Data Source=WIN-GN97PHJ5U68;Integrated Security=True;Initial Catalog=WebNTDB_DEV;MultipleActiveResultSets=True;" />
      <HangfireDbConnection value="Data Source=WIN-GN97PHJ5U68;Integrated Security=True;Initial Catalog=HangfireDB;MultipleActiveResultSets=True;" />
      <WebSocketUrl value="ws://115.146.123.69:8082"></WebSocketUrl>
      <RedisCacheHost value ="127.0.0.1" />
      <ProductionHost value ="http://s.webnhathuoc.com:8080/" />
      <ProductionDevHost value ="http://d.webnhathuoc.com:8084" />
      <MedApiUrl value ="http://med-api.webnhathuoc.com"></MedApiUrl>
      <!--<MedDbConnection value="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=WebNTDB;User Id=admin;Password=123456;MultipleActiveResultSets=True;" />-->
    </WIN-GN97PHJ5U68>
  </MachineSpecificConfigs>
</configuration>