<div class="modal fade inmodal" id="update-drug-price-dialog" ng-controller="DrugUpdatePriceDialogController" tabindex='-1' ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title"> Cập nhật giá cho thuốc {{drug.drugName}}</h2>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">Mã thuốc:</label>
                    <div class="control-label col-sm-5">
                        {{drug.drugCode}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Tên thuốc:</label>
                    <div class="control-label col-sm-5">
                        {{drug.drugName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Đơn vị:</label>
                    <div class="control-label col-sm-5">
                        {{drug.unitName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giá nhập cũ:</label>
                    <div class="control-label col-sm-5">
                        {{drug.oldPrice}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giá nhập mới:</label>
                    <div class="control-label col-sm-5">
                        {{drug.drugPrice}}
                    </div>
                    @*<div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="drug.drugPrice">
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="updateDrugPrice()">Cập nhật</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
