
@{
    ViewBag.Title = "Tạo phiếu kiểm kê";
}

<script>
    var nhomThuoc = @Html.Raw(ViewBag.NhomThuoc);
</script>

<div ng-controller="EditInventoryController" ng-cloak>
    <h2 style="font-size: 30px; text-align: center;color: coral"><b>PHIẾU KIỂM KÊ</b></h2>
    <div style="text-align: center;font-size: 15px;padding: 0px;">
        <div class="clickable-text daterange-picker daterange-picker">Ngày <input type="text" id="note-date-id" ng-change="onReportDateChanged()" ng-model="reportDate"><span>{{reportDate}}</span></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <fieldset class="">
                <strong>Thêm cả nhóm thuốc vào phiếu</strong>
                <div class="input-group">
                    <select class="form-control" id="MaNhomThuoc" name="MaNhomThuoc" ng-model="selectedNhomThuoc">
                        <option value="">Chọn nhóm thuốc</option>
                        <option ng-repeat="nt in nhomThuoc" value="{{nt.MaNhomThuoc}}">{{nt.TenNhomThuoc}}</option>
                    </select>
                    <input type="hidden" id="maThuoc" name="maThuoc" />
                    <span class="input-group-btn">
                        <button id="addDrugGroupBtn" ng-click="AddThuocTheoNhom()" class="btn btn-default">Thêm</button>
                    </span>
                </div>
            </fieldset>
            <br />
            <fieldset class="">

                <label>Thêm từng thuốc vào phiếu</label>
                <div class="control-group">
                    <div drug-search-filter select-changed-callback="onDrugSelectChanged" clear-after-selected="true"></div>

                    <br />
                    <input type="text" class="form-control mousetrap" id="barcode" placeholder="Nhập mã vạch">
                </div>

            </fieldset>
            <br />

            <div>
                <a class="btn btn-default" href="/Inventory/Index">Quay lại</a>
                <input type="submit" value="Lưu phiếu" id="btnLuuPhieu" name="action" ng-click="saveInventory(false)" class="btn btn-default" />
                <input type="submit" value="Cân kho" id="btnCanKho" name="action" ng-click="confirmCankho()" class="btn btn-default" />
            </div>
        </div>

        <div class="col-md-9">
            <div class="baocao-container">
                <table tr-ng-grid="" items="InventoryModel.items"
                       display-total-items-count="false"
                       id="table-id-create-inventory"
                       locale="en"
                       class="table table-striped table-responsive table-bordered table-hover"
                       selection-mode="None"
                       current-page="setCurrentPage"
                       enable-filtering="false"
                       enable-sorting="false"
                       page-items="model.pageSize" total-items="InventoryModel.items.length">
                    <thead>
                        <tr>
                            <th style="width: 6%" class="header-bg" display-name="STT"></th>
                            <th style="width: 20%" class="header-bg" display-name="Nhóm Thuốc"></th>
                            <th style="width: 12%" class="header-bg" display-name="Mã Thuốc"></th>
                            <th style="width: 20%" class="header-bg" display-name="Tên Thuốc"></th>
                            <th style="width: 12%" class="header-bg" display-name="SL hệ thống"></th>
                            <th style="width: 12%" class="header-bg" display-name="SL thực"></th>
                            <th style="width: 10%" class="header-bg" display-name="Chênh lệch"></th>
                            <th style="width: 5%" class="header-bg" display-name="Giá/Lô/Hạn dùng"></th>
                            <th style="width: 5%" class="header-bg">Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="table-body-id-delivery-note-with-barcode">
                        <tr class="tr-barcode">
                            <!--STT-->
                            <td>
                                <div>
                                    {{gridOptions.currentPage * model.pageSize + $index + 1}}
                                </div>
                            </td>
                            <!--Tên nhóm thuốc-->
                            <td>
                                <div>
                                    {{gridItem.TenNhomThuoc}}
                                </div>
                            </td>
                            <!--Mã Thuốc-->
                            <td>
                                <div>
                                    {{gridItem.MaThuoc}}
                                </div>
                            </td>
                            <!--Đơn Vị-->
                            <td>
                                <div>

                                    {{gridItem.TenThuoc}}
                                </div>
                            </td>

                            <!--Số Lượng hệ thống-->
                            <td>
                                <div style="text-align:right">

                                    {{gridItem.TonKho}} {{gridItem.TenDonViTinh}}
                                </div>
                            </td>

                            <!--Số Lượng thực tế-->
                            <td>
                                <div style="text-align:right">
                                    <input type="text" class="form-control row-item-quantiy"
                                           ng-keypress="moveToNextDrug($event)" style="width: 100%"
                                           ng-model="gridItem.ThucTe" awnum="app-decimal-number">
                                </div>
                            </td>

                            <!--Chênh lệch-->
                            <td>
                                <div style="text-align:right">

                                    {{gridItem.TonKho - gridItem.ThucTe | DrugQuantityFilter:1}}
                                </div>
                            </td>

                            <!--Actions-->
                            <td>
                                <div style="text-align:center">
                                    <a href="#" id="" ng-click="updateDrug(gridItem)" title="Cập nhật giá/lô/hạn dùng"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                </div>
                            </td>

                            <!--Remove item-->
                            <td>
                                <div style="text-align:center">
                                    <a class="delete-drug text-danger glyphicon glyphicon-trash" style="cursor: pointer" title="Xóa" ng-click="onDelete(gridItem)"></a>&nbsp
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="center">
                                <span class="form-group pull-left page-size">
                                    <select id="ddlPageSize" class="form-control"
                                            ng-model="model.pageSize"
                                            ng-options="item.pageSizeKey as item.pageSizeValue for item in pageSizeList"
                                            ng-change="changePageSize()"></select>
                                    <span class="page-size-label">&#160;&#160;Dòng / Trang</span>
                                </span>
                                <span tr-ng-grid-pager="" style="height:40px;"></span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>



</div>

@Html.Partial("~/Areas/Production/Views/Inventory/Partial/UpdateInventoryItemDialog.cshtml")