@{
    ViewBag.Title = "Kiểm tra thẩm quyền truy nhập vào chức năng";
}
<h4><b>Kiểm tra thẩm quyền truy nhập vào chức năng</b></h4>
<hr />
<div class="row">
    <div class="col-md-12">
            <span style="color:red">Bạn không đủ thẩm quyền đề truy nhập chức năng này. Bạn vui lòng liên hệ với chủ nhà thuốc hoặc WEB NHÀ THUỐC để được hỗ trợ.</span>      
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12"  style="font-size:16px; text-align:justify">
        <div class="form-group">              
                <br />
                <b style="font-size:18px">Hỗ trợ online </b>
                <br />
                Bạn có thể <b>CHAT</b> trực tiếp với <b>WEB NHÀ THUỐC</b> qua việc bật hộp thoại ở cuối màn hình bên tay phải bạn.
                       
                <!--Start of Tawk.to Script-->
                <script type="text/javascript">
                    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                    (function () {
                        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                        s1.async = true;
                        s1.src = 'https://embed.tawk.to/59267e1db3d02e11ecc66c2f/default';
                        s1.charset = 'UTF-8';
                        s1.setAttribute('crossorigin', '*');
                        s0.parentNode.insertBefore(s1, s0);
                    })();
                </script>
                @*End of Tawk.to Script*@          
        </div>
    </div>
</div>