@{
    ViewBag.Title = "Tư vấn và phát triển kinh doanh nhà thuốc với WEB NHÀ THUỐC";
}

<h4><b>@ViewBag.Title</b></h4>
<hr style="margin-top:0px" />
<div class="container">
    @*<div class="row">*@
        <div class="col-md-12">
            <div class="panel panel-default" style="margin-bottom:0px">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:18px;color:#35A6CA"><b>QUÁ TRÌNH CHUẨN BỊ VÀ KINH DOANH QUẦY NHÀ THUỐC</b></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    Hiện tại, mở và kinh doanh quầy/nhà thuốc đã không còn quá nhiều rào cản. Nhưng kinh doanh làm sao có hiệu quả thì thật không dễ. Điều này đòi hỏi ở chủ quầy/nhà thuốc một quá trình chuẩn bị thật tốt và có tính toán đúng để tránh những lỗi cơ bản như:
                    <ul>
                        <li>Đầu tư vào khu vực hết tiềm năng hoặc khu vực quá cạnh tranh.</li>
                        <li>Đầu tư với quy  mô quá nhỏ.</li>
                        <li>Sai trong các bước cạnh tranh và làm giá bán hàng hoá.</li>
                    </ul>
                    <div class="col-md-12">
                        <strong>1. Chọn lựa địa điểm mở quầy/nhà thuốc</strong><br />
                    </div>

                    <div class="col-md-2">
                        <img src="~/img/place_red.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Việc đánh giá địa điểm được quy về việc đánh giá tiềm năng kinh doanh của địa điểm. Tiềm năng kinh doanh thường được đo lường bằng 2 yếu tố sau: yếu tố về mật độ dân cư trong bán kính 500m quầy/nhà thuốc bạn mở,  yếu tố về mức độ cạnh tranh tính theo số lượng nhà thuốc có trong bán kính 500m đó. 
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/DownloadFile/Docs/Danhgia_Luachon_DiaDiem.pdf"><b>Xem thêm ...</b></a>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <strong>2. Thiết lập quy mô đầu tư qua bản kế hoạch tài chính mở nhà thuốc.</strong><br />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/plan.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Bản kế hoạch tài chính chi tiết thường được người mới bỏ qua không lập. Điều này sẽ làm bạn cảm thấy mơ hồ hoặc khó trả lời được những câu hỏi: mình cần đầu tư bao nhiêu tiền, chi phí/doanh thu được tính toán như thế nào, hiệu quả đầu tư. WEB NHÀ THUỐC cung câp cho bạn mẫu kế hoạch để bạn đánh giá được bạn sẽ cần bao nhiêu tiền cho việc kinh doanh này.
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/DownloadFile/Docs/Kehoach_taichinh_mo_nhathuoc.xlsx"><b>Xem thêm ...</b></a>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <strong>3. Chuẩn bị cơ sở vật chất và thẩm định GPP</strong><br />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/thietbi.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Tiền cơ sở vật chất và thẩm định GPP chiếm toàn bộ tiền đầu tư ban đầu cho việc mở và kinh doanh nhà thuốc. Bạn hãy tham khảo danh mục cơ sở vật chất và giấy tờ cần thiết để thẩm định GPP qua link dưới.
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/DownloadFile/Docs/Giayto_Thutuc_GPP.pdf"><b>Xem thêm ...</b></a>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <strong>4. Danh mục thuốc và nguồn hàng</strong><br />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/dm_thuoc.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Danh mục thuốc được chia thành 2 nhóm là: hàng phổ thông và hàng tư vấn. Cơ cấu danh mục hàng là rất quan trọng và được hoàn thiện trong khoảng từ 1 - 3 tháng kinh doanh đầu tiên. Bạn không nên quá vội vàng  phát triển doanh mục mà không quan tâm tới nhu cầu thực của khách hàng. Bạn có thể tham khảo danh mục hàng phổ thông và nguồn hàng từ WEB NHÀ THUỐC.
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/DownloadFile/Docs/Danhmuc_HangPhothong.pdf"><b>Xem thêm ...</b></a>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <strong>5. Tuyển dụng và đào tạo nhân viên bán hàng</strong><br />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/employee.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Hoạt động kinh doanh quầy/nhà thuốc luôn diễn ra liên tục từ 7h - 22h. Do đó, bạn cần có nhân viên giỏi, chuyên trách bán hàng cả 2 ca tại nhà thuốc để đảm bảo sự liên tục và chất lượng phục vụ. Việc đào tạo nhân viên được coi là khâu khá quan trọng tại hầu hết quầy/nhà thuốc tư nhân. Bạn có thể tham khảo các tài liệu đào tạo và tiện ích đăng tin tuyển dụng miễn phí để phục vụ cho hoạt động kinh doanh của mình.
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/Recruitment/ListRecruits"><b>Xem thêm ...</b></a>
                    </div>

                    <div class="col-md-12">
                        <br />
                        <strong>6. Cuối cùng là chương trình khai chương</strong><br />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/start.png" width="120" height="120" style="align-items:center" />
                    </div>
                    <div class="col-md-10">
                        Khách hàng mà nhà thuốc phục vụ chủ yếu là khách hàng hàng lẻ. Họ rất dễ dàng thay đổi để được mùa hàng với trải nghiệm tốt hơn và chất lượng phục vụ tốt hơn. Do đó, chương trình khai chương nên được đầu tư tốt (coi như là chi phí marketing) để thu hút khách hàng và tạo dựng hình ảnh ấn tượng ban đầu của quầy/nhà thuốc trong mắt khách hàng. Bạn có thể chat với chúng tôi ngay để được tư vấn chương trình khai trương cho quầy/nhà thuốc của bạn.
                        <br />
                        <a target="_blank" class="btn btn-default" href="~/TienIch/TuvanOnline"><b>Chat ngay ...</b></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default" style="margin-bottom:0px">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:18px;color:#35A6CA"><b>LÀM THẾ NÀO TĂNG LỢI NHUẬN CỦA QUẦY NHÀ THUỐC LÊN TỚI 20%</b></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    Việc tăng lợi nhuận, hiệu quả của hoạt động kinh doanh được triển khai theo 3 ý sau:
                    <ul>
                        <li>Đánh giá đúng và khai thác hết tiềm năng hiện có thông qua các con số cụ thể.</li>
                        <li>Tối ưu hóa danh mục hàng tư vấn và tổng giá trị tồn kho đáp ứng đúng và đủ cho hoạt động kinh doanh.</li>
                        <li>Tạo động lực cho nhân viên thông qua chính sách lương thưởng gắn chặt quyền lợi của nhân viên với nhà thuốc.</li>
                    </ul>
                    Bạn hoàn toàn có thể tin tưởng vào những tư vấn và hỗ trợ của chúng tôi để trợ giúp bạn đạt được mức tăng lợi nhuận như trên.
                    <br />
                    <a target="_blank" class="btn btn-default" href=""><b>Xem thêm ...</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:18px;color:#35A6CA"><b>MỞ RỘNG HOẠT ĐỘNG KINH DOANH QUẦY NHÀ THUỐC THEO HƯỚNG NÀO</b></h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    Hoạt động kinh doanh có thể mở rộng theo hai hướng chính sau:
                    <ul>
                        <li>Mở rộng kinh doanh theo chiều sâu: tập trung vào khai thác hết tiền năng kinh doanh của nhà thuốc bằng cách tăng quy diện tích nhà thuốc, danh mục hàng hóa, vốn cho cho cơ sở vật để duy trì năng lực cạnh tranh và khai thác hết tiền năng của nhà thuốc</li>
                        <li>Mở rộng kinh doanh theo chiều rộng: khi việc khai thác theo chiều sâu đã đạt tới hạn. Bạn có thể mở rộng kinh doanh bằng cách mở chuỗi theo mô hình tập trung và phân tán các cửa hàng kinh doanh mới của mình để tận dụng mô hình thành công sẵn có ra tăng thêm năng lực kinh doanh. </li>
                    </ul>
                    Để được tư vấn về mô hình chuỗi nhà thuốc phân tán và tập trung, bạn hãy chat ngay mới chúng tôi
                    <br />
                    <a target="_blank" class="btn btn-default" href="https://itunes.apple.com/gb/app/clocks+/id937380413?mt=8"><b>Chat ngay ...</b></a>
                </div>
            </div>
        </div>
    @*</div>*@
</div>

<style>
    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .row {
        margin-top: 40px;
        padding: 0 0px;
    }

    .clickable {
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });
</script>