@{
    ViewBag.Title = "Tư vấn và hỗ trợ online";
}

<div class="row" >
    <div class="col-md-12">
        <div class="form-group">
            
            <div class="col-md-3">
                <img src="~/img/support2.png" width="40%" height="auto" />
            </div>
           
            <div class="col-md-6" style="font-size:16px; text-align:justify">

                <b style="font-size:18px">CHÍNH SÁCH TƯ VẤN VÀ HỖ TRỢ CỦA WEB NHÀ THUỐC</b> <br />
                <br />
                <i class="fa fa-check"></i> Bạn sẽ được hỗ trợ trong suốt quá trình sử dụng  <br />
                <i class="fa fa-check"></i> Bạn không phải đóng thêm bất kỳ chi phí nào để được hỗ trợ.  <br />
                <i class="fa fa-check"></i> WEB NHÀ THUỐC sẽ liên tục cập nhật tính năng mới. <br />
                <i class="fa fa-check"></i> Bạn hãy giữ kết nối với chúng tôi qua ZALO (0989199535), CHAT, EMAIL (hotro@webnhathoc.com) để luôn được hỗ trợ. <br />
            </div>
            <div class="col-md-3" style="text-align:right">
                <img src="~/img/support2.png" width="40%" height="auto" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-3" style="font-size:16px; text-align:justify">
                <br />
                <b style="font-size:18px"></b> <br />
                <b><i class="fa fa-download"></i> Tải phần mềm TEAMVIEW </b> <br />
                Bạn có thể tải phần mềm Teamview về máy tính của mình thông qua đường link <a href="https://drive.google.com/open?id=0B9-mt9FvH-LWVy0tYXBNZG10N3M" target='_blank' width='500px' height='500px'><b>phần mềm TEAMVIEW</b></a>
            </div>

            <div class="col-md-6" style="font-size:16px; text-align:justify">
                <b style="font-size:18px">HỖ TRỢ TỪ XA BẰNG TEAMVIEW </b> <br />
                <br />
                <b><i class="fa fa-laptop"></i> Mục đích của TeamViewer</b> <br />
                TeamViewer là phần mềm điều khiển từ xa được nhiều người sử dụng máy tính ưa chuộng. Với dung lượng nhỏ gọn, chiếm ít tài nguyên máy tính, giao diện thân thiện và dễ sử dụng.
                <br />TeamViewer ngày càng trở lên quan trọng và không thể thiếu trên máy tính của các kỹ thuật viên và khách hàng có nhu cầu hỗ trợ từ xa, giúp cắt giảm chi phí đi lại và thời gian chờ đợi.
                Một điều vô cùng ý nghĩa là TeamViewer miễn phí cho người dùng cá nhân (mục đích phi thương mại).

            </div>
            <div class="col-md-3" style="font-size:16px; text-align:justify">
                <br />
                <b style="font-size:18px"></b> <br />
                <b><i class="fa fa-book"></i> Hướng dẫn cài đặt</b><br />
                Bạn có thể xem hướng dẫn cà đặt phần mềm TEAMVIEW qua đường link <a href="http://webnhathuoc.com/home/knowledgebase/huong-dan-cai-dat-va-su-dung-phan-mem-teamview/" target='_blank' width='500px' height='500px'><b>Hướng dẫn cài đặt phần mềm TEAMVIEW.</b></a>
                <br /> Sau khi cài đặt xong, bạn hãy cung cấp cho chúng tôi <b style="color:red">ID và PASSWORD</b> để được hỗ trơ.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-3" style="font-size:16px; text-align:justify">
                <br />
                <b style="font-size:18px"></b> <br />
               
            </div>

            <div class="col-md-6" style="font-size:16px; text-align:justify">
                <br />
                <b style="font-size:18px">TƯ VẤN ONLINE  </b>  
                <br />
                Bạn có thể <b style="color:red">CHAT</b> trực tiếp với chúng tôi qua việc bật hộp thoại ở cuối màn hình bên tay phải bạn.
               

            </div>
            <div class="col-md-3" style="font-size:16px; text-align:justify">
               <!--Start of Tawk.to Script-->
                <script type="text/javascript">
                var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/59267e1db3d02e11ecc66c2f/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
                })();
                </script>
                @*End of Tawk.to Script*@
                
            </div>
        </div>
    </div>
</div>
@*<table width="100%" >
    <tr>
        <td>Cảnh báo</td>
        <td>Thông tin Web nhà thuốc</td>
    </tr>
    <tr>
        <td>Hết hàng</td>
        <td>Bảo trì</td>
    </tr>
    <tr>
        <td>Doanh thu âm</td>
        <td>Nâng cấp tính năng</td>
    </tr>
    <tr>
        <td></td>
        <td>Sửa lỗi</td>
    </tr>
    <tr>
        <td>Báo cáo</td>
        <td></td>
    </tr>
    <tr>
        <td>Báo cáo doanh thu ngày</td>        
    </tr>
    <tr>
        <td>Báo cáo doanh thu</td>
    </tr>
    <tr>
        <td>Báo cáo kho</td>
    </tr>
</table>*@