@{
    ViewBag.Title = "Kiểm Kê";
}
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.tableTools.min.css" rel="stylesheet"/>

<h2>Kiểm Kê</h2>
<table class="table" style="width: 600px">
    <tr>
        <th style="width:300px">Theo Nhóm</th>
        <th>Theo Mã</th>
        <th>Theo Tên</th>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("MaNhomThuoc", null, htmlAttributes: new { @class = "form-control" })
            <input type="hidden" id="txtThuocId"/>
            <input type="hidden" id="txtSoLuong" />
        </td>
        <td><input type="text" maxlength="20" id="txtByMa" /></td>
        <td><input type="text" maxlength="20" id="txtByTen" /></td>
    </tr>
</table>
<input type="button" value="Thêm" onclick="AddThuocs()" />

<table class="table table-striped" id="tbl">
    <thead>
    <tr>
        <th>Mã Thuốc</th>
        <th style="width: 500px">Tên Thuốc</th>
        <th>Số lượng hệ thống</th>
        <th>Số lượng thực</th>
        <th>Chênh lệch</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="button" value="Xuất Excel" onclick="ExportExcel()"/>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://versatrax.com/wp-content/TableTools-2.1.5/media/js/ZeroClipboard.js"></script>;
    <script src="~/Scripts/dataTables.tableTools.min.js"></script>
    <script type="text/javascript">
        var currentTerm = "";
        var cache = {};
        var tbl;
        $(function () {
            BindAutocomplete($("#txtByMa"), "maThuoc");
            BindAutocomplete($("#txtByTen"), "tenThuoc");

            tbl = $('#tbl').DataTable({
                "ordering": false,
                "info": false,
                "scrollY": "600px",
                "scrollCollapse": true,
                "paging": false,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/Scripts/copy_csv_xls_pdf.swf"
                }
            });
            $("select#MaNhomThuoc").prepend("<option value='0'>Tất Cả</option>");
            $("select#MaNhomThuoc").prepend("<option value=''></option>").val('');
            $(".DTTT_container").find("a").each(function() {
                if ($(this).hide());
            });
            $(".DTTT_button_xls").show();
        });

        function ExportExcel() {
            
        }

        //Handle the insert data 
        function AddThuocs(parameters) {
            if ($("select#MaNhomThuoc").val() != '') {
                GetThuocsByNhom($("select#MaNhomThuoc").val());
            } else {                
                var maThuoc = $("input#txtByMa").val();
                if (maThuoc == "")
                    return;
                var tenThuoc = $("input#txtByTen").val();
                var soLuong = $("input#txtSoLuong").val();
                var inpSl = "<input type='text' class='inpSl'>";
                var row = [maThuoc, tenThuoc, soLuong, inpSl, 0];
                tbl.row.add(row).draw();
            }
        }

        //Bind the autocomplete to textbox
        function BindAutocomplete(elem, sName) {
            var url = "/Thuocs/GetThuocs";
            if (sName == "maThuoc") {
                url = "/Thuocs/GetThuocsByMa";
            }
            elem.autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var term = request.term;
                    currentTerm = term;
                    if (term in cache) {
                        response(cache[term]);
                        return;
                    }
                    $.getJSON(url, request, function (data, status, xhr) {
                        cache[term] = data;
                        response(data);
                    });
                },
                messages: {
                    noResults: "",
                    results: ""
                },
                focus: function (event, ui) {
                    return false;
                },
                select: function (event, ui) {
                    if (sName == "maThuoc") {
                        $(this).val(ui.item.maThuoc);
                        $("input#txtByTen").val(ui.item.label);
                    } else {
                        $(this).val(ui.item.label);
                        $("input#txtByMa").val(ui.item.maThuoc);
                    }
                    $("input#txtThuocId").val(ui.item.value);
                    $("input#txtSoLuong").val(ui.item.soLuong);

                    return false;
                }
            }).each(function () {
                $(this).autocomplete('instance')._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<a>" + item.label + "<br>" + item.desc + "</a>")
                        .appendTo(ul);
                };
            });
        }

        function GetThuocsByNhom(nhomId) {
            $.ajax({
                url: '/Thuocs/GetThuocsByNhom',
                data: { nhomId: nhomId},
                traditional: true,
                success: function (result) {
                    if (result[0].Message != null)
                        alert(result[0].Message);
                    for (var i = 0; i < result.length; i++) {
                        var maThuoc = result[i].MaThuoc;
                        if (maThuoc == "")
                            return;
                        var tenThuoc = result[i].TenThuoc;
                        var soLuong = result[i].SoLuong;
                        var inpSl = "<input type='text' class='inpSl'>";
                        var row = [maThuoc, tenThuoc, soLuong, inpSl, 0];
                        tbl.row.add(row).draw();
                    }                    
                }
            });
        }
    </script>
}
